:root {
    --minColWidth: 15rem;
}

body {
    background-color: #1c1c1c;
    color: #bdbdbd;
    margin: auto;
}

h1 {
    margin: 0 auto;
}

.intro-container {
    margin:auto;
    text-align: center;
    background-color: rgb(36, 36, 36);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

/*
p.intro-paragraph {
    margin:auto;
    width:80%;
}

h1.intro-headline {
    margin: auto;
    width:80%;
}
*/


div.project-container {
    background-color: #550e0e;
    color: rgb(207, 207, 207);
    max-width: 100mm;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    height: 25em;
    justify-content: space-around;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;


    border-style: solid;
    border-color:rgb(172, 172, 172);
}


/* container for project-containers */
div.portfolio-container {
    display: flex; 
    flex-wrap:wrap;
    background-color: #252525;
    color: #cfcfcf;
    width:80%;
    margin:auto;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    position:relative

}

.portfolio-container h1 {
    width:100%;
    text-align: center;
    margin-bottom: 1em;
    top:0;
}